/* GLOBAL THINGS TO BE MENTIONED HERE */
#homePage-mobile-main {
    background-color: var(--grey);
    height: 800vh;

    width: 100%;

}





/* NAVBAR */


#Nav-main {
    width: 100%;
    height: 4rem;

    background-color: var(--grey);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: +100;

    /* box-shadow: 0rem 2px 20px  black; */
}

#Nav-wrapper {

    width: 88.89%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Nav-tecxaroLogo-edit {
    width: 6rem;
}

.Nav-joinUs-button {
    border: 2px solid white;
    padding: 4px 10px 4px 10px;

}



























/* HERO SECTION */

#HS-main {

    width: 100%;
    height: 100svh;

    background-color: var(--grey);

    position: relative;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#HSM-heading {
    color: white;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 17.875rem;

}


.HSM-robotics-heading {
    font-size: 3.6375rem;
    line-height: 3.25rem;

    position: relative;
    right: 2px;
}


.HSM-easyPractical-lv2Heading {
    font-size: 2.325rem;
    line-height: 30px;
}


.HSM-subtitleSection {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 17.875rem;

    color: rgba(255, 255, 255, 21%);

    position: relative;
    /* bottom: 13.5rem; */
}


.HSM-subtitle{

    font-size: 0.8125rem;
    line-height: 0.8125rem;

}


.HSM-contactUs{

    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    font-size: 1.3125rem;

    /* position: re; */
}

.HSM-orangeCircle {

    width: 20rem;
    height: 20rem;

    background-color: var(--orange);
    border-radius: 100%;

    position: absolute;

    bottom: -8.9375rem;
    right: -5rem;
}









































/* ABOUT SECTION MOBILE */

#ASM-main{

    overflow: hidden;

}


.ASM-wrapper{

    width: 19.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ASM-big-orange-circle{

    width: 20rem;
    height: 20rem;

    background-color: var(--orange);
    border-radius: 100%;

    position: absolute;
    top: -185px;
    right: -79px;
}


.ASM-small-orange-circle{

    width: 10rem;
    height: 10rem;
    background-color: var(--orange);
    border-radius: 100%;
}