/* GLOBAL VARIABLES */




/* NAVBAR -------- navbar */
#Navbar{
    background-color: var(--grey);
    width: 100%;
    height: 6rem;

    display: flex;
    align-items:center;

    position: sticky;
    top: 0;

    z-index: +100;

}

.joinUs-navbar{
    position: absolute;
    right: 6rem;
    

}


/* HERO SECTION */

#HeroSection{
    width: 100%;
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}


.heroSection-main-highlight{
    font-size: 6rem;
    line-height: 5.5rem;
}


#scrolling-down-animation-hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







/* ABOUT US SECTION HOME PAGE */
#AboutUs-section-homePage-D{

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    height: 100vh;

    /* background-color: red; */
    background-color: var(--grey);

}

#heading-aboutUs-D{



}


#text-wrapper-aboutUs-D{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;

    width: 51%;
    
}


.para1-aboutUs-D{

    font-size: 1.375rem;
    line-height: 30px;
}


.contentWrapper-aboutUs-D{

    height: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}




/* HOME PAGE */
#home-page-desktop-id{
    width: 100%;
    height: 500vh;
}
